apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: events-hpa
  namespace: gl5-g1-production
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: events-application
  minReplicas: 2
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
