apiVersion: apps/v1
kind: Deployment
metadata:
  name: events-deployment
  namespace: events-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: events
  template:
    metadata:
      labels:
        app: events
    spec:
      containers:
        - name: events-app
          image: oussemahamouda/eventsproject:latest
          ports:
            - containerPort: 8080
