apiVersion: v1
kind: Service
metadata:
  name: events-service
  namespace: gl5-g1-production
  labels:
    app: events
spec:
  selector:
    app: events
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: LoadBalancer